/* 
    Style to sub render grid 
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.fabrik-list .subRenderGridCard .title {
    font-family: 'Inter';
    font-size: 28px;
    line-height: 32px;
    color: #322550;
    font-weight: 700;
    font-style: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fabrik-list .subRenderGridCard .mode-img-card,
.fabrik-list .subRenderGridCard .div-thumb div img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.fabrik-list .subRenderGridCard .div-mode-img-card,
.fabrik-list .subRenderGridCard .div-thumb div {
    aspect-ratio: 16/9;
    overflow: hidden;
    text-align: center;
}

.fabrik-list .subRenderGridCard .div-description {
    margin-bottom: 16px;
}

.fabrik-list .subRenderGridCard .description > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    font-size: 16px;
}

.fabrik-list .subRenderGridCard .div-name {
    margin-bottom: 16px;
}

.fabrik-list .subRenderGridCard .info-row {
    margin-top: 16px;
}

.fabrik-list .subRenderGridCard .date {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #322550;
    margin-right: 24px;
}

.fabrik-list .subRenderGridCard .owner,
.fabrik-list .subRenderGridCard .owner a {
    font-size: 14px;
    line-height: 20px;
    color: #59577A;
}

.fabrik-list .subRenderGridCard .owner :last-child {
    text-transform: capitalize;
}

.fabrik-list .subRenderGridCard .fabrikDivElementData {
    display: flex;
}

.fabrik-list .subRenderGridCard .div-info {
    row-gap: 2px;
}

.fabrik-list .subRenderGridCard .title-field-card {
    margin-right: 4px;
}