#typeTrans,
#row_combo_elementDestTrans,
#row_delimiterTransf,
#row_updateDB,
#row_deleteDB,
#row_repeat,
#row_thumbs_crops{
    display: none;
}

#mdHarvestElement, #mdHarvestHeader{
    top: 17px;
    left: 30% !important;
    margin-left: 0 !important;
    right: 30% !important;
    margin-right: 0!important;
    width: 723px !important;
}

#mdHarvestElement .modal-header, #mdHarvestHeader .modal-header {
    padding: 5px;
    text-align: left;
}

.modal-header .row{
    margin-left: 0 !important;
    padding: 5px !important;
}

#mdHarvestElement .modal-body,
#mdHarvestHeader .modal-body {
    padding: 5px !important;
    text-align: left;
    overflow-x: auto;
    max-height: 500px;
}

.modal-body .row{
    margin-left: 0 !important;
    padding: 5px !important;
}

#check-validar{
    margin-left: 10px;
    display: none;
}

.modal-body .row{
    margin-left: 0 !important;
    padding: 5px !important;
}

.formListRarvest{
    margin: 0 !important;
}